%p
  支払い方法

支払い方法
= form_with model: @user, url: signup_index_path, method: :post, html: {class: 'forth-wrapper__box'}, local: true  do |f|
  = render 'layouts/error_messages', model: f.object #エラーメッセージ
  = f.text_field :phone_number, placeholder: '支払い方法'
  %br
  支払い方法
  %br
  = f.submit '次へ進む', class: 'btn-default'