%p
  電話番号の確認

携帯電話の番号
= form_with model: @user, url: address_signup_index_path, method: :get, local: true  do |f|
  = f.text_field :phone_number, placeholder: '携帯電話の番号を入力'
  = @user.errors.full_messages_for(:phone_number).first 
  %br
  本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
  %br
  = f.submit 'SMSを送信する', class: 'btn-default'