.header
  = render 'users/shared/header'
.logout
  .logout__sidebar
    = render 'users/shared/side-bar'
  .form-logout
    .form-logout__middle
      %button.form-logout__middle__btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete 
.footer__logout
  = render 'users/shared/footer'
