.header--new-myprofile
  = render 'users/shared/header'
  
.container
  .container__sidebar
    = render 'users/shared/side-bar'
  .container__main
    .container__main__header
      %h2本人情報の登録
    .container__main__form
      .container__main__form__top
        %p
        お客さまの本人情報をご登録ください
        %br
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.container__main__form__top--about-upload
          %a(href="#")
            本人確認書類のアップロードについて＞
      .container__main__form__input
        %labelお名前
        %span.container__main__form__input__require必須
        %input.container__main__form__input__text{placeholder:"例）山田", type: "text", value: ""}/
        %input.container__main__form__input__text{placeholder:"例）彩", type: "text", value: ""}/
      .container__main__form__input
        %labelお名前カナ
        %span.container__main__form__input__require必須
        %input.container__main__form__input__text{placeholder:"例）ヤマダ", type: "text", value: ""}/
        %input.container__main__form__input__text{placeholder:"例）アヤ", type: "text", value: ""}/
      .container__main__form__input
        %label(for="birthday")生年月日
        %span.container__main__form__input__require必須
        .container__main__form__input__birthday-selectbox
          .container__main__form__input__birthday-selectbox__year
            %i.container__main__form__input__birthday-selectbox__year__arrow-btn
            %select.container__main__form__input__birthday-selectbox__year__selectnumber
          %span年
        .container__main__form__input__birthday-selectbox
          .container__main__form__input__birthday-selectbox__month
            %i.container__main__form__input__birthday-selectbox__month__arrow-btn
            %select.container__main__form__input__birthday-selectbox__month__selectnumber
          %span月
        .container__main__form__input__birthday-selectbox
          .container__main__form__input__birthday-selectbox__day
            %i.container__main__form__input__birthday-selectbox__day__arrow-btn
            %select.container__main__form__input__birthday-selectbox__day__selectnumber
          %span日
        %p.container__main__form__input__precautions
          ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
        .clearfix
      .container__main__form__input
        %label(for="zip_code")郵便番号
        %span.container__main__form__input__arbitrary任意
        %input.container__main__form__input__text{placeholder:"例）１２３４５６", type: "text", value: ""}/
      .container__main__form__input
        %label(for="prefecture")都道府県
        %span.container__main__form__input__arbitrary任意
        .container__main__form__input__region-selectbox
          %i.container__main__form__input__region-selectbox__arrow-btn
          %select.container__main__form__input__region-selectbox__select-default(name="")
      .container__form__input
        %label(for="city")市区町村
        %span.container__main__form__input__arbitrary任意
        %input.container__main__form__input__text{placeholder:"例）横浜市緑区", type: "text", value: ""}/
      .container__main__form__input
        %label(for="address1_label")番地
        %span.container__main__form__input__arbitrary任意
        %input.container__main__form__input__text{placeholder:"例）青山１−１−１", type: "text", value: ""}/
      .container__main__form__input
        %label(for="address2_label")建物名
        %span.container__main__form__input__arbitrary任意
        %input.container__main__form__input__text{placeholder:"例）柳ビル103", type: "text", value: ""}/
      .container__main__form__input
        %button.container__main__form__input__btn{type: "submit"}登録する
      .container__main__form__input
        .container__main__form__input__about-info
          %p
            %a(href="#")本人登録について＞
.footer__myprofile
  = render "users/shared/footer"

