.items__main__item
  .items__main__item__one
    = link_to item_path(item), class:"item" do
      .items__main__item__image
        = image_tag item.images[0].image.url, size: '188x188'
      .items__main__item__text
        %span.items__main__item__text__name
          = item.name 