
.logout{
  width: 1020px;
  margin: 40px auto 0;
  padding: 40px 0;
  &__sidebar{
    float: left;
  }
  .form-logout{
    width: 500px;
    height: 4vw;
    background-color:#FFFFFF;
    float: right;
    padding: 64px;
    &__middle{
      margin: 0 auto;
      width: 55%;
      height: 89%;
      &__btn{
        @include btn;
      }
    }
  }
}