.signup-footer-main
  .signup-footer-main__box
    .signup-footer-main__box__link
      .privacy-polisy
        プライバシーポリシー
      .term-of-service
        メルカリ利用規約
      .specified-commercial-transaction
        特定商取引に関する表記
    .freemarket-sample-logo
      = link_to root_path do
        = image_tag "freemarket_sample_logo.svg", width:"90", height:"70"
      .copyright
        &copy;2019 Merkari