.wrapper
  .header
    .header__logo
  .content
    .content-middle
      .content-middle__header
      .content-middle__main
        .content-middle__main__registration
          %a.content-middle__main__registration__mail
            %i.content-middle__main__registration__mail__icon
              メールアドレスで登録する
          %button.content-middle__main__registration__facebook
            %i.content-middle__main__registration__facebook__icon
              Facebookで登録する
          %button.content-middle__main__registration__google
  .footer
    %ul.footer-nav
      %li.footer-nav__text1
      %li.footer-nav__text2
      %li.footer-nav__text3
    %a.footer-logo
      =
    %p.footer-p